<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>iNDIAN SMART HOMES</title>
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp"id="myUL">
            <div class="logo"><img src="../images/service.jpg" alt="logo"></div>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>

        <div class="rightNav v-class-resp">
            <form action="#">
            <input type="text" name="search" id="search">
            <button onclick="myFunction()"class="btn btn-sm">Search</button>
        </form>
        </div>
            <div class="noteCards"></div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstSection"id="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">Owning a home is a keystone of wealth…</p>
                <p class="text-small">The house you looked at today and wanted to think about until tomorrow may be the
                    same house someone looked at yesterday and will buy today</p>
                <div class="buttons">
                    <button class="btn">Subscribe</button>
                    <button class="btn">Watch Video</button>
                </div>
            </div>
            <div class="secondHalf"><img src="../images/house.jpg" alt=""></div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">The End Of Search For House</p>
            <p class="sectionSubTag text-small">Buying or selling a home is a very humanizing moment, even when working
                through real estate agents or brokers. And that’s a sentiment that carries marketing capital.

                Combining digital marketing efforts with in-person, events-based marketing creates a tandem track for
                lead generation and brand awareness. Events may include:

                Open houses.
                Block parties
                Meet and greet with brokers.
                Real estate seminars.
                Q&A sessions between industry experts and prospects.
                Industry conferences.
                There’s also upside to partnering with and learning more about builders, lenders, appraisers,
                originators, attorneys, residential and commercial landlords, municipal leaders and local officials.
                During these meetings/events, have physical collateral on hand, such as business cards, sales sheets,
                FAQ pamphlets, printed listings, etc.

                Real estate marketers can go a step further and leverage social media by taking photos, starting hashtag
                campaigns, applying for branded Snapchat filters and expanding social networks.
            </p>

        </div>
        <div class="thumbnail">
            <img src="../images/home1.jpg" alt="house">
        </div>
    </section>

    <section class="section section-left">
        <div class="paras">
            <p class="sectionTag text-big">Find Better Places to Live, Work and Wonder</p>
            <p class="sectionSubTag text-small">Static visuals are one thing; interactive video is another. Services
                like Google Tango, roOomy and Matterport allow real estate marketers to use augmented and virtual
                reality video for one-of-a-kind, custom open houses.

                This technology isn’t exclusive to luxury real estate. Redfin allows any listing on its site to also
                feature VR tours. Prospective homebuyers can select from more than 100,000 furniture and household items
                to virtually drag and drop into the homes they’re interested in, giving them a good idea of how their
                home may look once they’re actually moved in. Customers can decorate, personalize and visualize unbuilt
                and empty spaces with multidimensional views.

                It won’t be long before open houses could become obsolete. Prospects will just use their smartphones or
                VR headsets to get the full experience without stepping foot in the home.

                Though seeming futuristic, this technology is already in action, and real estate agents are missing a
                big opportunity if their content marketing programs lack dimension. Customers want 360-degree, panoramic
                visuals they can engage with and individualize.


            </p>

        </div>
        <div class="thumbnail">
            <img src="../images/place.jpg" alt="house">
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Sell or Rent your property faster</p>
            <p class="sectionSubTag text-small">It’s no secret that much of the real estate game is won or lost on first
                impressions. As such, real estate marketers should prioritize visual content formats above anything
                else.

                On a practical level, this means professional hi-res photography for staging, showcasing and open house
                purposes. These photographs can be reused across every marketing channel, from printed, physical
                collateral to social media.

                In the digital sphere, websites and other online media properties should be populated with interactive
                carousels of visuals so potential clients can better assess homes on the market. Infographics are also
                dynamic assets for real estate agents, as they’re perfect for answering commonly asked questions in an
                illustrative format. Concepts like pros vs. cons, renting vs. owning, fixed-rate vs. adjustable-rate and
                condo vs. townhouse are easily visualized and shared via infographics.
            </p>

        </div>
        <div class="thumbnail">
            <img src="money.jpg" alt="house">
        </div>
    </section>

<section class="contact" id="contact">
    <h2 class="text-center">Contact Us</h2>
    <form action="/" method="POST" onsubmit="return validate();">
    <div class="form">
        <input class="form-input" type="text" name="name"id="name" placeholder="Enter Your Name">
        <input class="form-input" type="text" name="phone"id="phone" placeholder="Enter Your Phone">
        <input class="form-input" type="email" name="email"id="email" placeholder="Enter Your Email">
        <textarea class="form-input" name="text" id="text" cols="30" rows="10"placeholder="Elloborate Your Concern"></textarea>
        <button type="submit" class="btn btn-dark" value="submit">Submit</button>
    </div>
</form>
</section>
<footer>
    <p class="text-footer background">
        Copyright &copy 2022 www.indiansmarthomes.com - All rights reserved 

    </p>
</footer>
   <script src="../js/resp.js"></script>
</body>

</html>